.bg-gradient-animation {
    background: linear-gradient(180deg,rgb(30 27 75),rgb(36, 36, 35));
    background-size: 100% 100%;
    animation: gradient 15s ease infinite;
  }
  /* .bg-gradient-animation {
    background: 
      linear-gradient(to bottom, rgb(30 27 75)),rgb(36, 36, 35);
    background-size: 100% %, 100% 90%;
    animation: gradient 15s ease infinite;
  } */

 
  /* @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    } */
    /* @keyframes animateImage {
      0%, 100% {
        opacity: 0.8;
        transform: scale(1);
      }
      50% {
        opacity: 1;
        transform: scale(1.05);
      }
    }
    
    .animate-cole {
      animation: animateImage 6s ease-in-out infinite;
      animation-delay: 0s;
    }
    
    .animate-kdot {
      animation: animateImage 6s ease-in-out infinite;
      animation-delay: 2s;
    }
    
    .animate-drake {
      animation: animateImage 6s ease-in-out infinite;
      animation-delay: 4s;
    } */